body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-links {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.menu-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 5px 35px 5px 15px; /* 아이콘이 들어갈 공간 추가 */
    border-radius: 20px;
    border: none;
}

.ic-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    opacity: 0.6;
}

.review-container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.review-content h2 {
    font-size: 18px;
    border-bottom: 2px solid #333;
    display: inline-block;
    padding-bottom: 5px;
}

.review-content .visibility {
    float: right;
    font-size: 14px;
    color: #666;
}

.review-content p {
    margin: 20px 0;
    font-size: 16px;
    color: #666;
}

.comments-section {
    margin-top: 30px;
}

.comments-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.comment {
    padding: 10px 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.reactions {
    display: flex;
    justify-content: flex-end; /* 상단 우측 정렬 */
    gap: 10px;
    font-size: 14px;
    margin-bottom: 5px; /* 댓글 본문과의 간격 */
}

.comment p {
    margin: 10px 0;
    color: #555;
    font-size: 16px;
}

.comment-info {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    color: #777;
}

textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    resize: none;
}

.submit-comment {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a, .pagination span {
    color: #333;
    margin: 0 5px;
    text-decoration: none;
}

.pagination span {
    font-weight: bold;
}
