.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  padding: 80px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: 2428px;
  position: relative;
}
.top-bar {
  background: #ffffff; /* 배경 색상 */
  padding: 20px; /* 패딩 */
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: flex-start; /* 왼쪽으로 정렬 */
  width: 100%; /* 전체 너비 */
  height: 80px; /* 높이 */
  position: absolute; /* 절대 위치 */
  left: 0; /* 왼쪽 위치 */
  top: 0; /* 위쪽 위치 */
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12); /* 그림자 */
}

.rectangle-4137 {
  background: rgba(0, 0, 0, 0.1); /* 원형 배경 색상 */
  border-radius: 100px; /* 원형 만들기 */
  width: 40px; /* 너비 */
  height: 40px; /* 높이 */
  flex-shrink: 0; /* 줄어들지 않도록 설정 */
}

.title {
  font-size: 24px; /* 제목 폰트 크기 */
  margin-left: 10px; /* 원형 요소와의 간격 */
}

.navigation {
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 15px; /* 탭 간격 */
  margin-left: auto; /* 오른쪽으로 밀어붙여서 네비게이션을 오른쪽 끝으로 이동 */
}

.tab {
  cursor: pointer; /* 클릭 가능 표시 */
}

.ic-search {
  width: 20px; /* 검색 아이콘 너비 */
  height: 20px; /* 검색 아이콘 높이 */
  margin-left: 5px; /* 텍스트와 아이콘 간격 */
}


.list {
  padding: 60px 170px 60px 170px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title2 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.title-2-span {
  color: #000000;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}
.title-2-span2 {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}
.list2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
}
.icon {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 62.5px;
  line-height: 100px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.frame-427318906 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title3 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.subtitle {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.subtitle2 {
  color: rgba(255, 0, 4, 0.5);
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.subtitle3 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.vector-200 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.list3 {
  padding: 60px 170px 60px 170px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title4 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.list4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 366px;
  height: 452px;
  position: relative;
}
.item2 {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame2 {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
}
.icon2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 37.5px;
  line-height: 60px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.frame-4273189062 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title5 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.subtitle4 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.subtitle5 {
  color: #000000;
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  position: relative;
}
.vector-2002 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.vector-2003 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.item3 {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.vector-2004 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.button {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.primary {
  background: #f7a6a6;
  border-radius: 8px;
  padding: 12px 12px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.title6 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
}
.vector-2005 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.section {
  padding: 60px 170px 60px 170px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title7 {
  color: #f7a6a6;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
  width: 520px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 360px;
  position: relative;
  overflow: hidden;
}
.textfield2 {
  background: #ffffff;
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  flex: 1;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.button2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.primary2 {
  background: #f7a6a6;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.vector-2006 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.list5 {
  padding: 60px 170px 60px 170px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1420px;
  position: relative;
  overflow: hidden;
}
.list6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.vector-2007 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.vector-2008 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.vector-2009 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.vector-20010 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.vector-20011 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
._11-12-13-14-15-16-17-18-19-20 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section2 {
  padding: 60px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 240px;
  position: relative;
  overflow: hidden;
}
.container4 {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 100px;
  position: relative;
}
.title8 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title9 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title10 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
}