.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 2756px;
  position: relative;
  overflow: hidden;
}
.section {
  padding: 60px; /* 패딩 */
  display: flex; /* Flexbox 레이아웃 사용 */
  flex-direction: row; /* 수평 방향으로 정렬 */
  gap: 60px; /* 자식 요소 간의 간격 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  width: 1420px; /* 너비 */
  height: 240px; /* 높이 */
  position: absolute; /* 절대 위치 */
  left: 50%; /* 화면 중앙으로 설정 */
  transform: translateX(-50%); /* 요소를 중앙으로 이동 */
  top: 2512px; /* 필요에 따라 조정 */
  overflow: hidden; /* 넘치는 내용 숨김 */
}

.container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 100px;
  position: relative;
}
.title {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title3 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._11-12-13-14-15-16-17-18-19-20 {
  color: #000000; /* 글자 색상 */
  text-align: left; /* 왼쪽 정렬 */
  font-family: "Roboto-Medium", sans-serif; /* 글꼴 설정 */
  font-size: 30px; /* 글자 크기 */
  line-height: 22px; /* 줄 높이 */
  font-weight: 500; /* 글자 두께 */
  position: absolute; /* 절대 위치 */
  left: 50%; /* 부모 요소의 중앙 위치 */
  top: 2451px; /* 위쪽 위치 */
  transform: translateX(-50%); /* 왼쪽으로 50% 이동시켜 중앙 정렬 */
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: flex-start; /* 가로 정렬 */
}

.todo-list {
  padding: 60px 170px; /* 위 아래 60px, 왼쪽과 오른쪽 170px */
  display: flex; /* 플렉스 컨테이너 */
  flex-direction: row; /* 자식 요소를 가로 방향으로 배치 */
  gap: 60px; /* 자식 요소 간의 간격 */
  align-items: center; /* 세로 방향 정렬 */
  justify-content: center; /* 수평 방향 중앙 정렬 */
  width: 1420px; /* 요소 너비 */
  position: absolute; /* 절대 위치 */
  left: 50%; /* 화면 중앙으로 설정 */
  transform: translateX(-50%); /* 요소를 중앙으로 이동 */
  top: 1771px; /* 필요에 따라 조정 */
  overflow: hidden; /* 넘치는 내용 숨김 */
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
}
.icon {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 62.5px;
  line-height: 100px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.frame-427318906 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title4 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.subtitle {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.vector-200 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.vector-2002 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.vector-2003 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.vector-2004 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.vector-2005 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.todo-list-serach {
  padding: 60px 170px; /* 위 아래 60px, 왼쪽과 오른쪽 170px */
  display: flex; /* 플렉스 컨테이너 */
  flex-direction: row; /* 자식 요소를 가로 방향으로 배치 */
  gap: 60px; /* 자식 요소 간의 간격 */
  align-items: center; /* 세로 방향 정렬 */
  justify-content: center; /* 수평 방향 중앙 정렬 */
  width: 1420px; /* 요소 너비 */
  position: absolute; /* 절대 위치 */
  left: 50%; /* 화면 중앙으로 설정 */
  transform: translateX(-50%); /* 요소를 중앙으로 이동 */
  top: 1452px; /* 필요에 따라 조정 */
  overflow: hidden; /* 넘치는 내용 숨김 */
}

.container2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title5 {
  color: #f7a6a6;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
  width: 520px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 360px;
  position: relative;
  overflow: hidden;
}
.textfield {
  background: #ffffff;
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  flex: 1;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.button {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.primary {
  background: #f7a6a6;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.title6 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
}
.vector-2006 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.ranking-list {
  width: 1420px; /* 고정 너비 */
  height: 1132px; /* 높이 */
  position: absolute; /* 절대 위치 */
  left: 50%; /* 부모 요소의 중앙 위치 */
  top: 300px; /* 위쪽 위치 */
  transform: translateX(-50%); /* 왼쪽으로 50% 이동시켜 중앙 정렬 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 */
}

.list2 {
  padding: 60px 170px 60px 170px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  width: 1420px;
  height: 1132px;
  position: absolute;
  left: 9px;
  top: 0px;
  overflow: hidden;
}
.container3 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  width: 1080px;
  position: absolute;
  left: calc(50% - 540px);
  top: 60px;
}
.title7 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  position: relative;
}
.title-7-span {
  color: #000000;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}
.title-7-span2 {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}
.list3 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 1080px;
  position: absolute;
  left: 179px;
  top: 168px;
}
.item2 {
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame-4273189062 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title8 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.subtitle2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.subtitle3 {
  color: rgba(255, 0, 4, 0.5);
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.subtitle4 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.vector-2007 {
  height: 0px;
  position: absolute;
  right: -9px;
  left: 9px;
  bottom: 0px;
  overflow: visible;
}
.list4 {
  padding: 60px 170px 60px 170px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  width: 1080px;
  position: absolute;
  left: 179px;
  top: 500px;
  overflow: hidden;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title9 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.list5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 366px;
  height: 452px;
  position: relative;
}
.frame2 {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
}
.icon2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 37.5px;
  line-height: 60px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.subtitle5 {
  color: #000000;
  text-align: right;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  position: relative;
}
.vector-2008 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.vector-2009 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.item3 {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.vector-20010 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.button2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.primary2 {
  background: #f7a6a6;
  border-radius: 8px;
  padding: 12px 12px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.vector-20011 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.profile-bar {
  background: #8c8c8c; /* 배경색 */
  width: 1420px; /* 너비 */
  height: 218px; /* 높이 */
  position: absolute; /* 절대 위치 */
  left: 50%; /* 화면 중앙으로 설정 */
  transform: translateX(-50%); /* 요소를 중앙으로 이동 */
  top: 82px; /* 필요에 따라 조정 */
  overflow: hidden; /* 넘치는 내용 숨김 */
}


.avatar {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 50px;
  padding: 0px 1px 0px 1px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 101px;
  top: 68px;
  overflow: hidden;
}
.frame-427318985 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.person {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
  overflow: visible;
}
.frame-427318994 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 285px;
  top: 84px;
}
.title10 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  width: 850px;
  height: 32px;
}
.person2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 235px;
  top: 68px;
}
.medal {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: cover;
}
.container5 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 850px;
  position: absolute;
  left: 243px;
  top: 128px;
}
.selection {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.label-normal {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.5px;
  padding: 2px 4px 2px 4px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.label-text {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
}
.label-normal2 {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.5px;
  padding: 2px 4px 2px 4px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.seconday {
  background: #000000;
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 240px;
  position: absolute;
  left: 461px;
  top: 122px;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 682px;
  height: 54px;
  position: absolute;
  left: 453px;
  top: 46px;
}
.description {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.top-bar {
  background: #ffffff; /* 배경 색상 */
  padding: 20px; /* 패딩 */
  display: flex; /* Flexbox 사용 */
  flex-direction: row; /* 수평 방향으로 배치 */
  gap: 20px; /* 요소 간의 간격 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  flex-shrink: 0; /* 줄어들지 않도록 설정 */
  width: 1420px; /* 고정 너비 */
  height: 80px; /* 높이 */
  position: absolute; /* 절대 위치 */
  left: 50%; /* 부모 요소의 중앙 위치 */
  top: 0; /* 위쪽 위치 */
  transform: translateX(-50%); /* 왼쪽으로 50% 이동시켜 중앙 정렬 */
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12); /* 그림자 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 */
}
.rectangle-4137 {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.title11 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.navigation {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tab {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
