.to-do-list,
.to-do-list * {
  box-sizing: border-box;
}
.to-do-list {
  background: #ffffff;
  height: 4395px;
  position: relative;
  overflow: hidden;
}
.frame-427318971 {
  background: #d9d9d9;
  border-radius: 100px;
  padding: 28px 60px 28px 60px;
  display: flex;
  flex-direction: row;
  gap: 300px;
  align-items: center;
  justify-content: flex-start;
  width: 1093px;
  height: 98px;
  position: absolute;
  left: 167px;
  top: 1605px;
}
.group {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.div {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 288px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1-min {
  color: #817f7f;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 53px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-427318975 {
  background: #d9d9d9;
  border-radius: 100px;
  padding: 28px 60px 28px 60px;
  display: flex;
  flex-direction: row;
  gap: 300px;
  align-items: center;
  justify-content: flex-start;
  width: 1093px;
  height: 98px;
  position: absolute;
  left: 167px;
  top: 1745px;
}
.group2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.to-do-card-4 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 288px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-427318978 {
  background: #d9d9d9;
  border-radius: 100px;
  padding: 28px 60px 28px 60px;
  display: flex;
  flex-direction: row;
  gap: 300px;
  align-items: center;
  justify-content: flex-start;
  width: 1093px;
  height: 98px;
  position: absolute;
  left: 167px;
  top: 1885px;
}
.group3 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.to-do-card-5 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 288px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-427318970 {
  background: #d9d9d9;
  border-radius: 100px;
  padding: 28px 60px 28px 60px;
  display: flex;
  flex-direction: row;
  gap: 300px;
  align-items: center;
  justify-content: flex-start;
  width: 1093px;
  height: 98px;
  position: absolute;
  left: 164px;
  top: 1465px;
}
.group4 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.div2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 291px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-427318974 {
  background: #d9d9d9;
  border-radius: 100px;
  padding: 28px 60px 28px 60px;
  display: flex;
  flex-direction: row;
  gap: 300px;
  align-items: center;
  justify-content: flex-start;
  width: 1093px;
  height: 98px;
  position: absolute;
  left: 164px;
  top: 1325px;
}
.group5 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
._5-km {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 291px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary {
  background: #000000;
  border-radius: 20px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 273px;
  height: 77px;
  position: absolute;
  left: 986px;
  top: 2021px;
}
.title {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 204px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary2 {
  background: #000000;
  border-radius: 20px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 273px;
  height: 77px;
  position: absolute;
  left: 670px;
  top: 2028px;
}
.title2 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary3 {
  background: #000000;
  border-radius: 20px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 273px;
  height: 77px;
  position: absolute;
  left: 354px;
  top: 2028px;
}
.textfield {
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  width: 353px;
  position: absolute;
  left: 904px;
  top: 1239px;
}
.text {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 30px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 305px;
}
.ic-search {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: visible;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1100px;
  height: 440px;
  position: absolute;
  left: 170px;
  top: 361px;
}
.container2 {
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.title3 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.y-axis {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.graph {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.ellipse-95 {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 280px;
  height: 280px;
  position: absolute;
  left: calc(50% - 140px);
  top: calc(50% - 140px);
}
.ellipse-96 {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 280px;
  height: 280px;
  position: absolute;
  left: calc(50% - 140px);
  top: calc(50% - 140px);
}
.ellipse-97 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 280px;
  height: 280px;
  position: absolute;
  left: calc(50% - 140px);
  top: calc(50% - 140px);
}
.x-axis {
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 1100px;
  position: absolute;
  left: 170px;
  top: 861px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.metric {
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.title4 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.data {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.change {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.rectangle-4141 {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 3px;
  width: 1279px;
  height: 436px;
  position: absolute;
  left: 67px;
  top: 2657px;
}
.rectangle-4143 {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 3px;
  width: 1279px;
  height: 173px;
  position: absolute;
  left: 67px;
  top: 3334px;
}
.rectangle-4146 {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 3px;
  width: 1279px;
  height: 82px;
  position: absolute;
  left: 67px;
  top: 2470px;
}
.rectangle-4144 {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 3px;
  width: 1279px;
  height: 173px;
  position: absolute;
  left: 67px;
  top: 3618px;
}
.rectangle-4145 {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 3px;
  width: 1279px;
  height: 173px;
  position: absolute;
  left: 67px;
  top: 3980px;
}
.div3 {
  color: rgba(0, 0, 0, 0.42);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  position: absolute;
  left: 43px;
  top: 2392px;
  width: 160px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div4 {
  color: rgba(0, 0, 0, 0.42);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  position: absolute;
  left: 63px;
  top: 3253px;
  width: 116px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div5 {
  color: rgba(0, 0, 0, 0.42);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  position: absolute;
  left: 57px;
  top: 3899px;
  width: 195px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div6 {
  color: rgba(0, 0, 0, 0.42);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  position: absolute;
  left: 1196px;
  top: 2565px;
  width: 169px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div7 {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 48px;
  font-weight: 500;
  position: absolute;
  left: 83px;
  top: 3351px;
  width: 310px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._100-000 {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 48px;
  font-weight: 500;
  position: absolute;
  left: 87px;
  top: 3633px;
  width: 677px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vector {
  width: 49px; /* 3.47% of 1420px */
  height: 57px; /* 1.3% of 4395px */
  position: absolute;
  right: 376px; /* 26.53% of 1420px */
  left: 994px; /* 70% of 1420px */
  bottom: 1076px; /* 24.48% of 4395px */
  top: 3266px; /* 74.22% of 4395px */
  overflow: visible;
}

.vector2 {
  width: 49px; /* 3.47% of 1420px */
  height: 57px; /* 1.3% of 4395px */
  position: absolute;
  right: 369px; /* 26.04% of 1420px */
  left: 994px; /* 70.49% of 1420px */
  bottom: 799px; /* 18.17% of 4395px */
  top: 3520px; /* 80.52% of 4395px */
}

.surprised {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1136px;
  top: 3269px;
  object-fit: cover;
}
.surprised2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1134px;
  top: 3553px;
  object-fit: cover;
}
.lol {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1255px;
  top: 3269px;
  object-fit: cover;
}
.lol2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1255px;
  top: 3553px;
  object-fit: cover;
}
._2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  position: absolute;
  left: 1067px;
  top: 3271px;
  width: 33px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  position: absolute;
  left: 1072px;
  top: 3555px;
  width: 33px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._3 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  position: absolute;
  left: 1186px;
  top: 3271px;
  width: 33px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._4 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  position: absolute;
  left: 1184px;
  top: 3555px;
  width: 33px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._5 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  position: absolute;
  left: 1315px;
  top: 3271px;
  width: 33px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._52 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  position: absolute;
  left: 1313px;
  top: 3555px;
  width: 33px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.primary4 {
  background: #000000;
  border-radius: 20px;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 336px;
  height: 99px;
  position: absolute;
  left: 1010px;
  top: 4175px;
}
.title5 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 36px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.to-do-list-a {
  color: rgba(0, 0, 0, 0.31);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 48px;
  font-weight: 500;
  position: absolute;
  left: 89px;
  top: 2679px;
  width: 1106px;
  height: 254px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div8 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: absolute;
  left: 384px;
  top: 2315px;
  width: 614px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div9 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 30px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 1034px;
  top: 242px;
  width: 403px;
  height: 47px;
}
.textfield2 {
  background: #ffffff;
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  width: 439px;
  height: 46px;
  position: absolute;
  left: 831px;
  top: 289px;
}
.text2 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 30px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 427px;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section {
  background: rgba(247, 166, 166, 0.6);
  padding: 60px 0px 60px 0px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 98px;
  position: absolute;
  left: 0px;
  top: 80px;
  overflow: hidden;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title6 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
  width: 520px;
}
.vector-200 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -40px;
  overflow: visible;
}
.section2 {
  background: rgba(247, 166, 166, 0.6);
  padding: 60px 0px 60px 0px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 98px;
  position: absolute;
  left: 0px;
  top: 1063px;
  overflow: hidden;
}
.vector-2002 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -40px;
  overflow: visible;
}
.section3 {
  background: rgba(247, 166, 166, 0.6);
  padding: 60px 0px 60px 0px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 98px;
  position: absolute;
  left: 0px;
  top: 2278px;
  overflow: hidden;
}
.vector-2003 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -40px;
  overflow: visible;
}
.top-bar {
  background: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 80px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.rectangle-4137 {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.title7 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.navigation {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tab {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
