.to-do-list,
.to-do-list * {
  box-sizing: border-box;
}

.to-do-list {
  background: #ffffff;
  height: 1315px;
  position: relative;
  overflow: hidden;
  width: 100vw; /* 화면 전체 너비로 설정 */
  margin: 0; /* 모든 여백 제거 */
  padding: 0; /* 패딩 제거 */
}


/*.search-box {
    position: relative;
    display: inline-block; *//* 검색 박스를 하나의 인라인 블록으로 유지 *//*
    align-items: center;
    padding: 5px 0;
    width: 100%; *//* 전체 너비로 확장 *//*
    margin-left: 0; *//* 마진을 제거하여 좌측 정렬 *//*
}*/

.search-box2 {
  /*border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;*/
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  width: 295px;
  position: absolute;
  left: calc(50% + 270px); /* 부모 요소의 50% 위치에서 20px 오른쪽 이동 */
  top: 200px; /* 필요한 경우 이 값 조정 */
  transform: translateX(-50%); /* 요소를 왼쪽으로 50% 이동시켜 중앙 정렬 */
}
.text {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 30px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 243px;
}
.ic-search {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: visible;
}
.frame-427318974 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center; /* 중앙 정렬 */
  justify-content: flex-start;
  width: 863px;
  position: absolute;
  left: 50%; /* 부모 요소의 중앙 위치 */
  top: 314px; /* 필요한 경우 이 값 조정 */
  transform: translateX(-50%); /* 요소를 왼쪽으로 50% 이동시켜 중앙 정렬 */
}
.frame-427318969 {
  background: #d9d9d9;
  border-radius: 100px;
  padding: 28px 60px 28px 60px;
  display: flex;
  flex-direction: row;
  gap: 300px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 894px;
  height: 126px;
  position: relative;
}
.group {
  width: 40px;
  height: 40px;
}

.list-1 {
  flex-grow: 1;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

._1-min {
  font-size: 20px;
  font-weight: 500;
  color: #817f7f;
  text-align: right;
}
.frame-427318978 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center; /* 중앙 정렬 */
  justify-content: flex-start;
  width: 863px;
  position: absolute;
  left: 50%; /* 부모 요소의 중앙 위치 */
  top: 469px; /* 필요한 경우 이 값 조정 */
  transform: translateX(-50%); /* 요소를 왼쪽으로 50% 이동시켜 중앙 정렬 */
}

.group2 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.list-2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 113px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-427318979 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center; /* 중앙 정렬 */
  justify-content: flex-start;
  width: 863px;
  position: absolute;
  left: 50%; /* 부모 요소의 중앙 위치 */
  top: 624px; /* 필요한 경우 이 값 조정 */
  transform: translateX(-50%); /* 요소를 왼쪽으로 50% 이동시켜 중앙 정렬 */
}

.group3 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.list-3 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 113px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-427318980 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center; /* 중앙 정렬 */
  justify-content: flex-start;
  width: 863px;
  position: absolute;
  left: 50%; /* 부모 요소의 중앙 위치 */
  top: 779px; /* 필요한 경우 이 값 조정 */
  transform: translateX(-50%); /* 요소를 왼쪽으로 50% 이동시켜 중앙 정렬 */
}

.group4 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.list-4 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 113px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-427318981 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center; /* 중앙 정렬 */
  justify-content: flex-start;
  width: 863px;
  position: absolute;
  left: 50%; /* 부모 요소의 중앙 위치 */
  top: 934px; /* 필요한 경우 이 값 조정 */
  transform: translateX(-50%); /* 요소를 왼쪽으로 50% 이동시켜 중앙 정렬 */
}

.group5 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.list-5 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 113px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary {
  background: #000000;
  border-radius: 20px;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 188px;
  height: 77px;
  position: absolute;
  left: calc(50% + 330px); /* 부모 요소의 중앙 위치에서 오른쪽으로 20px 이동 */
  top: 1104px; /* 필요한 경우 이 값 조정 */
  transform: translateX(-50%); /* 요소를 왼쪽으로 50% 이동시켜 중앙 정렬 */
}


.title {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  width: 124px;
}
.primary2 {
  background: rgba(95, 93, 93, 0.76);
  border-radius: 20px;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 188px;
  height: 77px;
  position: absolute;
  left: calc(50% + 130px); /* 중앙에서 오른쪽으로 20px 이동 */
  top: 1104px; /* 필요한 경우 이 값 조정 */
  transform: translateX(-50%); /* 요소를 왼쪽으로 50% 이동시켜 중앙 정렬 */
}

.section {
  background: rgba(247, 166, 166, 0.6);
  padding: 60px 0;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  width: 100%; /* 가로 폭을 100%로 설정 */
  max-width: 1520px; /* 최대 폭을 설정 */
  height: 98px;
  position: relative; /* 부모 요소 기준으로 위치 설정 */
  margin: 0 auto; /* 중앙 정렬 */
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title2 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
  width: 520px;
}
.vector-200 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -40px;
  overflow: visible;
}
.frame-427318977 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 1149px; /* 너비는 그대로 유지 */
  height: 69px;
  position: absolute;
  left: 50%; /* 부모 요소의 중앙 위치 */
  top: 1200px; /* 필요한 경우 이 값 조정 */
  transform: translateX(-50%); /* 요소를 왼쪽으로 50% 이동시켜 중앙 정렬 */
}

._11-12-13-14-15-16-17-18-19-20 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.top-bar {
  background: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%; /* 화면 전체 너비를 차지 */
  max-width: 1520px; /* 최대 너비 설정 */
  height: 80px;
  position: absolute;
  left: 50%; /* 화면 중앙으로 위치 조정 */
  transform: translateX(-50%); /* 정확한 중앙 정렬 */
  top: 0px; /* 화면 상단에 고정 */
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.rectangle-4137 {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.title3 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.navigation {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tab {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}

