<link rel="stylesheet" href="/styles.Login-before.css">
<div class="div">
  <div class="top-bar">
    <div class="rectangle-4137"></div> <!-- 원형 요소 -->
    <div class="title">할랭왕</div> <!-- 제목 -->
    <div class="navigation">
      <div class="tab">로그인</div> <!-- 로그인 또는 로그아웃 -->
      <div class="tab">회원가입</div> <!-- 회원가입 -->
    </div>
  </div>
  <div class="list">
    <div class="container">
      <div class="title2">
        <span>
          <span class="title-2-span">RanKings</span>
          <span class="title-2-span2">🏆</span>
        </span>
      </div>
    </div>
    <div class="list2">
      <div class="row">
        <div class="item">
          <div class="frame">
            <div class="icon">🥇</div>
          </div>
          <div class="frame-427318906">
            <div class="title3">일간 랭킹 1위</div>
          </div>
          <div class="subtitle">이상수</div>
          <div class="subtitle2">일간 랭킹 순위 보러가기</div>
        </div>
        <div class="item">
          <div class="frame">
            <div class="icon">🥇</div>
          </div>
          <div class="frame-427318906">
            <div class="title3">주간 랭킹 1위</div>
          </div>
          <div class="subtitle">한태호</div>
          <div class="subtitle3">주간 랭킹 순위 보러가기</div>
        </div>
        <div class="item">
          <div class="frame">
            <div class="icon">🥇</div>
          </div>
          <div class="frame-427318906">
            <div class="title3">월간 랭킹 1위</div>
          </div>
          <div class="subtitle">이은규</div>
          <div class="subtitle3">월간 랭킹 순위 보러가기</div>
        </div>
      </div>
    </div>
    <img class="vector-200" src="vector-2000.svg" />
    <div class="list3">
      <div class="container2">
        <div class="title4">일간 랭킹</div>
      </div>
      <div class="list4">
        <div class="row">
          <div class="item2">
            <div class="frame2">
              <div class="icon2">🥇</div>
            </div>
            <div class="frame-4273189062">
              <div class="title5">이상수</div>
              <div class="subtitle4">9:00 AM</div>
            </div>
            <div class="subtitle5">1등</div>
            <img class="vector-2002" src="vector-2001.svg" />
          </div>
        </div>
        <div class="row">
          <div class="item2">
            <div class="frame2">
              <div class="icon2">🥈</div>
            </div>
            <div class="frame-4273189062">
              <div class="title5">유지훈</div>
              <div class="subtitle4">11:30 AM</div>
            </div>
            <div class="subtitle5">2등</div>
            <img class="vector-2003" src="vector-2002.svg" />
          </div>
        </div>
        <div class="row">
          <div class="item3">
            <div class="frame2">
              <div class="icon2">🥉</div>
            </div>
            <div class="frame-4273189062">
              <div class="title5">박승수</div>
              <div class="subtitle4">3:00 PM</div>
            </div>
            <div class="subtitle5">3등</div>
            <img class="vector-2004" src="vector-2003.svg" />
          </div>
        </div>
        <div class="button">
          <div class="primary">
            <div class="title6">순위 더 보기</div>
          </div>
        </div>
      </div>
      <img class="vector-2005" src="vector-2004.svg" />
    </div>
  </div>
  <div class="section">
    <div class="container3">
      <div class="title7">To-Do List</div>
      <div class="input">
        <div class="textfield2">
          <div class="text2">유저네임</div>
        </div>
      </div>
      <div class="button2">
        <div class="primary2">
          <div class="title6">검색하기</div>
        </div>
      </div>
    </div>
    <img class="vector-2006" src="vector-2005.svg" />
  </div>
  <div class="list5">
    <div class="list6">
      <div class="row">
        <div class="item2">
          <div class="frame">
            <div class="icon">👤</div>
          </div>
          <div class="frame-4273189062">
            <div class="title5">이상수</div>
            <div class="subtitle4">제목 : 오늘의 보성녹차왕</div>
            <div class="subtitle4">댓글 / 추천 수</div>
          </div>
          <img class="vector-2007" src="vector-2006.svg" />
        </div>
      </div>
      <div class="row">
        <div class="item2">
          <div class="frame">
            <div class="icon">👤</div>
          </div>
          <div class="frame-4273189062">
            <div class="title5">이은규</div>
            <div class="subtitle4">제목 : 오늘의 발표왕</div>
            <div class="subtitle4">댓글 / 추천 수</div>
          </div>
          <img class="vector-2008" src="vector-2007.svg" />
        </div>
      </div>
      <div class="row">
        <div class="item2">
          <div class="frame">
            <div class="icon">👤</div>
          </div>
          <div class="frame-4273189062">
            <div class="title5">한태호</div>
            <div class="subtitle4">제목 : 오늘의 배드민턴왕</div>
            <div class="subtitle4">댓글 / 추천 수</div>
          </div>
          <img class="vector-2009" src="vector-2008.svg" />
        </div>
      </div>
      <div class="row">
        <div class="item2">
          <div class="frame">
            <div class="icon">👤</div>
          </div>
          <div class="frame-4273189062">
            <div class="title5">Prepare for client pitch</div>
            <div class="subtitle4">Deadline: Tomorrow</div>
          </div>
          <img class="vector-20010" src="vector-2009.svg" />
        </div>
      </div>
    </div>
    <img class="vector-20011" src="vector-20010.svg" />
  </div>
  <div class="section2">
    <div class="container4">
      <div class="title8">Contact Us</div>
      <div class="title9">About Us</div>
      <div class="title10">Privacy Policy</div>
    </div>
  </div>
</div>