<link rel="stylesheet" href="/styles.Login-after.css">
<div class="div">
  <div class="top-bar">
    <div class="rectangle-4137"></div>
    <div class="title">할랭왕</div>
    <div class="navigation">
      <div class="tab">로그아웃</div>
    </div>
  </div>
  <div class="rectangle-4147"></div>
  <div class="avatar">
    <div class="frame-427318985">
      <img class="person" src="person0.svg" />
    </div>
  </div>
  <div class="frame-427318994">
    <div class="title2">name</div>
  </div>
  <div class="person2">
    <img class="medal" src="medal0.png" />
  </div>
  <div class="container">
    <div class="selection">
      <div class="label-normal">
        <div class="label-text">티어</div>
      </div>
      <div class="label-normal2">
        <div class="label-text">랭킹 순위</div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container2">
      <div class="title3">Contact Us</div>
      <div class="title4">About Us</div>
      <div class="title5">Privacy Policy</div>
    </div>
  </div>
  <div class="section2">
    <div class="container3">
      <div class="title6">To-Do List</div>
      <div class="input">
        <div class="textfield2">
          <div class="text2">유저네임</div>
        </div>
      </div>
      <div class="button">
        <div class="primary">
          <div class="title7">검색하기</div>
        </div>
      </div>
    </div>
    <img class="vector-200" src="vector-2000.svg" />
  </div>
  <div class="seconday">
    <div class="title7">바로 작성하러 가기</div>
  </div>
  <div class="list">
    <div class="list2">
      <div class="row">
        <div class="item">
          <div class="frame">
            <div class="icon">👤</div>
          </div>
          <div class="frame-427318906">
            <div class="title8">이상수</div>
            <div class="subtitle">제목 : 오늘의 보성녹차왕</div>
            <div class="subtitle">댓글 / 추천 수</div>
          </div>
          <img class="vector-2002" src="vector-2001.svg" />
        </div>
      </div>
      <div class="row">
        <div class="item">
          <div class="frame">
            <div class="icon">👤</div>
          </div>
          <div class="frame-427318906">
            <div class="title8">이은규</div>
            <div class="subtitle">제목 : 오늘의 발표왕</div>
            <div class="subtitle">댓글 / 추천 수</div>
          </div>
          <img class="vector-2003" src="vector-2002.svg" />
        </div>
      </div>
      <div class="row">
        <div class="item">
          <div class="frame">
            <div class="icon">👤</div>
          </div>
          <div class="frame-427318906">
            <div class="title8">한태호</div>
            <div class="subtitle">제목 : 오늘의 배드민턴왕</div>
            <div class="subtitle">댓글 / 추천 수</div>
          </div>
          <img class="vector-2004" src="vector-2003.svg" />
        </div>
      </div>
      <div class="row">
        <div class="item">
          <div class="frame">
            <div class="icon">👤</div>
          </div>
          <div class="frame-427318906">
            <div class="title8">Prepare for client pitch</div>
            <div class="subtitle">Deadline: Tomorrow</div>
          </div>
          <img class="vector-2005" src="vector-2004.svg" />
        </div>
      </div>
    </div>
    <img class="vector-2006" src="vector-2005.svg" />
  </div>
  <div class="list3">
    <div class="container4">
      <div class="title9">
        <span>
          <span class="title-9-span">RanKings</span>
          <span class="title-9-span2">🏆</span>
        </span>
      </div>
    </div>
    <div class="list4">
      <div class="row">
        <div class="item2">
          <div class="frame">
            <div class="icon">🥇</div>
          </div>
          <div class="frame-4273189062">
            <div class="title10">일간 랭킹 1위</div>
          </div>
          <div class="subtitle2">이상수</div>
          <div class="subtitle3">일간 랭킹 순위 보러가기</div>
        </div>
        <div class="item2">
          <div class="frame">
            <div class="icon">🥇</div>
          </div>
          <div class="frame-4273189062">
            <div class="title10">주간 랭킹 1위</div>
          </div>
          <div class="subtitle2">한태호</div>
          <div class="subtitle4">주간 랭킹 순위 보러가기</div>
        </div>
        <div class="item2">
          <div class="frame">
            <div class="icon">🥇</div>
          </div>
          <div class="frame-4273189062">
            <div class="title10">월간 랭킹 1위</div>
          </div>
          <div class="subtitle2">이은규</div>
          <div class="subtitle4">월간 랭킹 순위 보러가기</div>
        </div>
      </div>
    </div>
    <img class="vector-2007" src="vector-2006.svg" />
    <div class="list5">
      <div class="container5">
        <div class="title11">일간 랭킹</div>
      </div>
      <div class="list6">
        <div class="row">
          <div class="item">
            <div class="frame2">
              <div class="icon2">🥇</div>
            </div>
            <div class="frame-427318906">
              <div class="title8">이상수</div>
              <div class="subtitle">9:00 AM</div>
            </div>
            <div class="subtitle5">1등</div>
            <img class="vector-2008" src="vector-2007.svg" />
          </div>
        </div>
        <div class="row">
          <div class="item">
            <div class="frame2">
              <div class="icon2">🥈</div>
            </div>
            <div class="frame-427318906">
              <div class="title8">유지훈</div>
              <div class="subtitle">11:30 AM</div>
            </div>
            <div class="subtitle5">2등</div>
            <img class="vector-2009" src="vector-2008.svg" />
          </div>
        </div>
        <div class="row">
          <div class="item3">
            <div class="frame2">
              <div class="icon2">🥉</div>
            </div>
            <div class="frame-427318906">
              <div class="title8">박승수</div>
              <div class="subtitle">3:00 PM</div>
            </div>
            <div class="subtitle5">3등</div>
            <img class="vector-20010" src="vector-2009.svg" />
          </div>
        </div>
        <div class="button2">
          <div class="primary2">
            <div class="title7">순위 더 보기</div>
          </div>
        </div>
      </div>
      <img class="vector-20011" src="vector-20010.svg" />
    </div>
  </div>
  <div class="container6">
    <div class="description">Welcome back! Here are your tasks for today.</div>
  </div>
</div>