<nav th:fragment="navbarFragment">
    <div>
        <a href="/">SBB</a>
        <div id="navbarSupportedContent">
            <ul>
                <li>
                    <a th:href="@{/user/signup}">회원가입</a>
                </li>
                <li>
                    <a th:href="@{/user/login}" sec:authorize="isAnonymous()">로그인</a>
                    <a th:href="@{/user/logout}" sec:authorize="isAuthenticated()">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>