<link rel="stylesheet" href="/retrospective_from_page.css">
<div class="div">
    <div class="div2">회고 작성</div>
    <div class="line-73"></div>
    <div class="rectangle-4141"></div>
    <div class="please-write-your-story">Please write your story...</div>
    <div class="primary">
        <div class="title">발행하기</div>
    </div>
    <img class="arrow-1" src="arrow-10.svg" />
    <div class="div3">나가기</div>
    <div class="rectangle-4142"></div>
    <div class="title-input">Title Input</div>
    <div class="div4">공개 / 비공개</div>
    <img class="vector" src="vector0.svg" />
    <img class="vector2" src="vector1.svg" />
    <div class="section">
        <div class="container">
            <div class="title2">회고</div>
        </div>
        <img class="vector-200" src="vector-2000.svg" />
    </div>
    <div class="top-bar">
        <div class="rectangle-4137"></div>
        <div class="title3">할랭왕</div>
        <div class="navigation">
            <div class="tab">로그아웃</div>
            <div class="textfield">
                <div class="text">Search in site</div>
                <img class="ic-search" src="ic-search0.svg" />
            </div>
        </div>
    </div>
</div>
