<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Card</title>
    <link rel="stylesheet" type="text/css" href="/todo_card_read_create.css">
</head>
<body>
<div class="navbar">
    <div class="user">이상수 - 골드</div>
    <div class="menu">
        <a href="#">홈</a> |
        <a href="#">업무</a> |
        <a href="#">프로필</a> |
        <a href="#">로그인 / 로그아웃</a>
        <div class="textfield">
            <input type="text" class="search-box" placeholder="Search in site">
            <img class="ic-search" src="/lens.png" alt="검색 아이콘" />
        </div>
    </div>
</div>

<div class="card">
    <div class="header">ToDo Card</div>

    <div class="content">
        <div class="time-section">
            <div class="time">
                <p>시간</p>
                <label for="start-time">시작 시간</label>
                <input type="datetime-local" id="start-time" name="start-time">

                <br/>

                <label for="end-time">종료 시간</label>
                <input type="datetime-local" id="end-time" name="end-time">
            </div>
            <div class="complete">
                </br>
                <p>완료 여부</p>
                <div class="checkbox"><input type="checkbox" checked> 할 일</div>
            </div>
            <div class="progress">
                <label for="progress-slider">진행도</label>
                <input type="range" id="progress-slider" min="0" max="100" value="0" oninput="updateProgressValue(this.value)">
                <p id="progress-value">0%</p>
            </div>
        </div>


        <div class="category">
            <p>할일 종류 리스트</p>
            <div th:each="todoType : ${todoTypeList}">
                <input type="radio" name="category" th:text="${todoType.typeName}"><br>
            </div>
        </div>
    </div>

    <div class="memo-content">
        <label for="title">제목</label>
        <input type="text" id="title" placeholder="title">

        <label for="memo">메모</label>
        <textarea id="memo" placeholder="메모 내용을 입력하세요."></textarea>
    </div>

    <button class="save-btn">저장</button>
</div>
</body>
</html>

<script>
    function updateProgressValue(value) {
        document.getElementById("progress-value").textContent = value + "%";
    }
</script>
