<link rel="stylesheet" href="/styles.todo_list.css">
<div class="to-do-list">
    <div class="textfield">
        <div class="text">ToDo List Search</div>
        <img class="ic-search" src="/magnifier.png" alt="검색 아이콘"/>
    </div>
    <div class="frame-427318974" th:each="todoList : ${todoLists}">
        <div class="frame-427318969">
            <img class="group" src="/group0.svg"/>
            <div class="list-1" th:text="${todoList.title}">List 1</div>
            <div class="_1-min" th:text="${#temporals.format(todoList.createdDate, 'yyyy-MM-dd HH:mm')}">1min</div>
        </div>
    </div>
    <div class="primary">
        <div class="title">ToDoList 등록</div>
    </div>
    <div class="primary2">
        <div class="title">ToDoList 수정</div>
    </div>
    <div class="section">
        <div class="container">
            <div class="title2">ToDo List</div>
        </div>
        <img class="vector-200" src="/vector-2000.svg"/>
    </div>
    <div class="frame-427318977">
        <div class="_11-12-13-14-15-16-17-18-19-20">
            &lt; 이전 | 11 12 13 14 15 16 17 18 19 20 | 다음 &gt;
        </div>
    </div>
    <div class="top-bar">
        <div class="rectangle-4137"></div>
        <div class="title3">할랭왕</div>
        <div class="navigation">
            <div class="tab">로그아웃</div>
        </div>
    </div>
</div>
